@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body{
    font-family: "Outfit", sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    overflow: hidden;
   
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 360px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card img{
   width: 100%;
   border-radius: 12px;
}
.card{
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    text-align: center;
    margin: 0 1em;
}
.text p{
     font-size: 15px;
        color:hsl(220, 15%, 55%) ;
}
.text h2{
    padding-bottom:15px ;
    color:hsl(218, 44%, 22%) ;
}